@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

/* .space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.epilogue-<uniquifier> {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  background-color: #fcfcfc;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
  line-height: 1.5;
  color: #1a1a1a;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

h1,
h2,
a {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2 {
  font-size: 96px;
}

h2 {
  color: #000be0;
}

h3,
p {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.intro-typewriter {
  font-size: 40px;
}
.intro-typewriter:after {
  content: "|";
  animation: blink 2.3s infinite;
  color: #1a1a1a;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.intro-content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.profile-picture {
  width: 500px;
  height: auto;
}

/* @media (max-width: 768px) {
  .intro-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
} */

/* PORTFÖLJ & OM MIG GRID */
.section-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 2rem;
  margin-bottom: 4rem;
}

.section-title {
  position: sticky;
  top: 100px; /* så rubriken stannar under navbar eller toppen */
  align-self: start;
  font-size: 1.5rem;
  font-weight: bold;
}
